{% extends 'base.html.twig' %}

{% block body %}
  <section id="intro" class="wow fadeIn">

    <div class="intro-content">
        <h2>Tracking <span>payments</span><br>is better when simple!</h2>
        <a href="/signup" class="btn-get-started scrollto">Signup</a>
        <a href="/login" class="btn-projects scrollto">Login</a>
      </div>
    </div>


  </section><!-- #intro -->

  <main id="main">

<br>
<br>
<br>
<br>
<br>
<br>
<br>

  </main>
{% endblock %}
